<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdNZmJtDANDPQriwaVjzaqjS6JoV56ab0</string>
	<key>GCM_SENDER_ID</key>
	<string>810881038751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stressManagementApp</string>
	<key>PROJECT_ID</key>
	<string>stressmanagement-d47df</string>
	<key>STORAGE_BUCKET</key>
	<string>stressmanagement-d47df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810881038751:ios:f05fa6fada5b1f9553a5aa</string>
</dict>
</plist>